* {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  /*  display: block;*/
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: block;
    width: 960px;
    text-align: center;
    margin: 0 auto;
}

form {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.header {
    width: 960px;
    border-radius: 0.25em;
    background: darkblue;
    color: white;
}

h1 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 2em;
    font-weight: 900;
    margin: 20px auto;
}

#form-header {
    font-weight: bold;
    padding: 10px;
    border-bottom: 1px solid black;
}

.input-form {
    padding: 15px;
    border: 1px solid black;
    border-radius: 0.25em;
    width: 928px;
    margin: 10px auto;
    text-align: left;
}

label {
    margin: 10px 0;
}

input {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 926px;
}

.buttons {
    padding-top: 15px;
}

button {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    border: none;
    background-color: white;
}

.search-results {
    border: 1px solid black;
    padding: 15px;
    border-radius: 0.25em;
    width: 928px;
    margin: 10px auto;
    text-align: left;
}

#results-header {
    padding: 10px;
    border-bottom: 1px solid black;
}