* {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: block;
    width: 960px;
    text-align: center;
    margin: 0 auto;
}

.header {
    width: 960px;
    height: 80px;
    line-height: 80px;
    border-radius: 0 0 5px 5px;
    background: darkblue;
    color: white;
}

h1 {
    font-size: 2em;
    font-weight: 900;
    padding: 20px auto;
}

#form-header {
    font-weight: 500;
    font-size: 18px;
    padding: 10px;
    border-bottom: 1px solid #bdbdbd;
}

.input-form {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 15px;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    width: 928px;
    margin: 10px auto;
    text-align: left;
}

ul li {
    padding: 5px 0;
}

.formLabel {

}

input {
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    width: 916px;
    padding: 5px;
}
input:focus, input:hover {
    background-color: #ffffff;
    border: 1px solid #b1e1e4;
}

.buttons {
    margin-top: 10px;
}

button {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    border: 1px solid white;
    border-radius: 5px;
    background-color: white;
    padding: 5px;
}

button:focus, button:hover {
    border: 1px solid #b1e1e4;
    border-radius: 5px;
}

.search-results {
    border: 1px solid #bdbdbd;
    padding: 15px 15px 5px 15px;
    border-radius: 5px;
    width: 928px;
    margin: 10px auto;
    text-align: left;
}

#results-header {
    font-weight: 500;
    font-size: 18px;
    padding: 10px;
    border-bottom: 1px solid #bdbdbd;
}

.results-display {
 /*   padding-top: 10px;*/
}

.article-result {
    margin: 10px 0;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    padding: 5px 10px;
}

#article-headline{
    font-size: 15px;
    font-weight: 500;
}

#article-byline {
    font-size: 13px;
}

#article-section {
    font-size: 13px;
    font-style: italic;
}

#article-date {
    font-size: 12px;
}

#article-link {
    font-size: 14px;
}